<div class="row">
    <div class="col">
        <button class="btn btn-success" [routerLink]="['/recipes', 'new']">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
        <div class="col-12">
           <!-- <app-recipe-item *ngFor="let recipe of recipes" [recipe]="recipe" (receiveRecipe)="recipeRecieved(recipe)"></app-recipe-item> -->
           <app-recipe-item *ngFor="let recipe of (recipesState|async).recipes; index as i;" [recipe]="recipe" [routerLink]="['/recipes', i]"></app-recipe-item>
        </div>
    </div>
<!-- <app-recipe-item></app-recipe-item> -->
